<h1> Success!</h1>

#if ($todo)
<h3>Your to-do has been saved.</h3>
#elseif ($category)
<h3>Your Category has been saved.</h3>
#end
<!-- <a class="btn btn-warning" href="/todos/new">Add another To-Do</a> -->
<a class="btn btn-success" href="/categories">View Categories</a>
